{{% handler:IndexHandler }}

<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <h1>Juniorenweekend 2016</h1>

  <form method="POST" action="">
    <label for="name">Your Name</label><br />
    <input type="text" name="name" />

    <input type="submit" value="Send">
  </form>
</body>
</html>
